.editorPagelayout {
    width: 700px;
    margin: auto;
    padding-top: 60px;

    .header{
        display: grid;
        grid-template-columns: 1fr 100px;

        .userInfo{
            text-align: right;
        }

        .icon{
            color: blue;
            cursor: pointer;
            font-size: 14px;
        }
    }

    .error{
        color: red;
        margin-top: 5px;
        font-size: 12px;
    }

    .loading{
        margin-top: 5px;
        font-size: 12px;
    }

    .QIDInputContainer{
        .labelText{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .searchBar{
            display: flex;
            flex-direction: row;
            align-items: center;

            .QIDInputBox{
                height: 24px;
                padding: 2px;
                border-radius: 5px;
                border: solid 1px #ccc;
                font-size: 14px;
                width: 200px;

            }

            .QIDSubmitButton{
                height: 28px;
                font-size: 14px;
                margin-left: 10px;
                background-color: grey;
                color: white;
                border: none;
                border-radius: 5px;
                width: 80px;
                cursor: pointer;
                // :hover{
                //     background: ;
                // }
            }
        }
    }

    .buttonHolder{
        margin-top: 40px;
        text-align: center;
    }

    .modifyButton{
        height: 28px;
        font-size: 14px;
        background-color: grey;
        color: white;
        text-align: center;
        border: none;
        border-radius: 5px;
        width: 80px;
        cursor: pointer;
        margin: auto;
    }
}